*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: auto;
}
hr{
    width: 100%;
}
.header{
    width: 100%;
    display: flex;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.h1{
    width: 30%;
}

.h2{
    width: 50%;
}
.h2 p{
    font-size: medium;
    margin-left: 120px;
}
.h3{
    width: 20%;
}
.h3 ul li{
    list-style: none;
    float: left;
    margin: 5px;
    font-size: medium;
}
.h3 ul{
    margin-left: 120px;
}


.menu{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10px;
}
.m1{
    width: 10%;
}
.m1 img{
    width: 70px;
}
.m2{
    width: 80%;
}
.m2 ul li {
    float: left;
    list-style: none;
    margin: 10px;
    font-size: medium;
}
.m2 ul{
    margin-left: 640px;
}
.m2 select{
    font-size: 15px;
    border: none;
}
/* a{
    color:blue;
}
.active{
    color:aqua;
    border-bottom: 2px solid black;
} */
.m3 i{
    margin: 10px;
    margin-left: 15px;
}

.seclect{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10px;
}
.s1{
    width: 50%;
}
.s1 img{
    width: 95%;
    height: 570px;
    border-radius: 5px;
    margin-top: 120px;
}
.s2{
    width: 50%;
}
.s2 img{
    width: 95% ;
    margin-left: 5%;
    height: 570px;
    border-radius: 5px;
}

.seclect1{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.s11{
    width: 50%;
}
.s11 img{
    width: 95% ;
    margin-left:710px;
    height: 570px;
    margin-top: -70px;
    border-radius: 5px;
}

.seclect2{
    width: 100%;
    margin-left: 660px;
}

.third{
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-left: 10%;
    /* margin-right: 10%; */
    background-color: burlywood;
    display: flex;
    margin-bottom: 10px;
}
.t1{
    width: 90%;
}
.t1 h3{
    margin-top: 20px;
    margin-left: 20px;
}
.t1 p{
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: small;
}
.t2{
    width: 20%;
}
.t2 button{
    width: 80px;
    margin-top: 35px;
}


.third1{
    width: 100%;
    font-size: small;
    display: flex;
    margin-bottom: 10px;
}
.t11{
    width: 90%;
}
.t12{
    width: 10%;
}

.four{
    width: 100%;
    height: auto;
    display: flex;
}
.f1,.f2,.f3,.f4,.f5{
    width: 20%;
}
.f1 img, .f2 img ,.f3 img ,.f4 img ,.f5 img{
    width: 95%;
}
.f3 img{
    height: 145px;
}    
.four p{
    font-size: x-small;
} 
.f0{
    margin: 20px;
}

.four1{
    width: 100%;
    display: flex;
    height: auto;
    margin-top: 60px;
    margin-bottom: 20px;
}
.f11{
    width: 50%;
}
.f11 img{
    width: 97%;
    border-radius: 5px;
}
.f12{
    width: 50%;
}
.f12 img{
    width: 97%;
    border-radius: 5px;
}

.five{
    width: 100%;
    display: flex;
    font-size: small;
    margin-bottom: 20px;
}
.fi1{
    width: 90%;
}
.fi2{
    width: 10%;
}

.five1{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 20px;
}
.f111,.f112,.f13,.f14,.f15{
    width: 20%;
}
.f111 img,.f112 img,.f13 img,.f14 img,.f15 img{
    width: 95%;
}
.f111 p,.f112 p,.f13 p,.f14 p,.f15 p{
    font-size: x-small;
}

.six{
    width: 100%;
    display: flex;
    font-size: x-small;
    margin-top: 20px;
}
.six ul li{
    list-style: none;
}
.six1,.six2,.six3,.six4,.six5,.six6{
    width: 16.67%;
}


@media screen and (max-width:500px){
   body{
    width: 100%;
   }
   .header{
    display: block;
    height: auto;
    width: 100%;
   }
   .h1{
    width: 100%;
   }
   .h1 i{
    width: 10px;
   }
   .h2{
    width: 100%;
    margin-top: -20px;
    margin-left: 20px;
   }
   .h3{
    width: 100%;
   }

   .menu{
    display: block;
    height: auto;
    width: 100%;
   }
   .m1{
    width: 100%;
   }
   .m2{
    width: 100%;
   }
   .m3{
    width: 100%;
   }

   .seclect{
    width: 100%;
    display: block;
    height: auto;
   }
   .s1{
    width: 100%;
   }
   .s2{
    width: 100%;
   }

   .seclect1{
    width: 100%;
    display: block;
    height: auto;
   }
   .s11{
    width: 100%;
   }

   .seclect2{
    width: 100%;
    display: block;
    height: auto;
   }

   .third{
    width: 100%;
    display: block;
    height: auto;
   }
   .t1{
    width: 100%;
   }
   .t2{
    width: 100%;
   }

   .third1{
    width: 100%;
    display: block;
    height: auto;
   }
   .t11{
    width: 100%;
   }
   .t12{
    width: 100%;
   }

   .four{
    width: 100%;
    display: block;
    height: auto;
   }
   .f1,.f2,.f3,.f4,.f5{
    width: 100%;
   }

   .four1{
    width: 100%;
    display: block;
    height: auto;
   }
   .f11,.f12{
    width: 100%;
   }

   .five{
    width: 100%;
    display: block;
    height: auto;
   }
    .fi1,.fi2{
        width: 100%;
    }

    .five1{
        width: 100%;
        display: block;
        height: auto;
    }
    .f111,.f112,.f13,.f14,.f15{
        width: 100%;
    }

    .six{
        display: block;
        width: 100%;
    }
    .six1,.six2,.six3,.six4,.six5,.six6{
        width: 100%;
    }
}